body {
    padding: 50px;
    background-color: beige;
}

h1 {
    color: brown;
    visibility: visible;
}

h1.fnt-red {
    color: red;
}

.fnt-blue {
    color: blue;
}

#nombre_alumno {
    color: red;
    text-decoration: underline;
}

.titulo{
    color:darkcyan;
    size: 30px;
    font-style: italic;
}

.texto{
    color: blue;
    size: 15px;
}

.destacado{
    font-style: oblique;
    font-weight: bold;
}