html{
    background-color: beige;
    color: blue;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 400px;
}

form{
    width: 510px;
}

fieldset{
    border-style: dotted;
    border-color: brown;
    margin: 15px;
    height: 320px;
}

legend{
    color: brown;
    font-size: 40px;
}

input{
    position: absolute;
    left: 150px;
    width: 300px;
    border-radius: 10px;
    border-color: brown;
    border-width: 1px;
    border-style: dotted;
    padding-left: 5px;
}

input:focus{
    outline: none;}

div {
    margin-bottom: 20px;}

.half{
    width: 100px;}

#labelRight{
    position: absolute;
    left: 276px;
}

#inputRight{
    position: absolute;
    left: 346px;
}

#desplegable{
    position: absolute;
    left: 275px;
}

#radio form{
    display:block;
    position: absolute;
    left: 150px;
    width: 100px;
}

.radioInputs{
    position: absolute;
    left: 52px;
}

button{
    width: 200px;
    position: absolute;
    left: 155px;
    border-style: dotted;
    border-color: brown;
    color: brown;
    background-color: transparent;
}

button:hover{
    width: 200px;
    position: absolute;
    left: 155px;
    border-style: dotted;
    border-color: brown;
    color: yellow;
    background-color: sienna;
}