html{
    margin:0;
    padding: 0;
    background-color: beige;
    color: black;
}

body, pre{
    font-family: Consolas,monospace;
}
table tr {
    text-align: left;
}

#link{
    margin: 8px;
}

.blue{
    background-color: #9FDBBF;  
}

#description thead th:nth-child(1){
    width: 30%;
}

@media screen and (max-width: 960px) , screen and (min-height: 720px) {
    #wraper{
        position: absolute;
        left: 50%;
        top: 52%;
        width: 40%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        border-left: solid;
        border-right: solid;
        padding: 25px 50px 50px 50px;
        border-color: black;
        border-width: 1px;
        min-width: 800px;
        min-height: 720px;
    }

    #infoBill {
        width: 280px;
        position: absolute;
        top: 10px;
        right: 50px;
        margin: 0px;
        padding: 0px;
    }

    #infoCompany{
        width: 45%;
        position: absolute;
        top: 0px;
        margin: 0px;
        padding: 0px;
        left: 50px;
    }

    #infoClient{
        width: 430px;
        position: absolute;
        top: 198px;
        right: 40px;
        margin: 0px;
        padding: 0px;
    }

    table{
        position: absolute;
        bottom: 100px;
        width: 87.5%;
        border: none;
        border-collapse:collapse;
        margin: 0 auto;
        padding: 0%;
        font-size: 18px;
    }

    .negrita{
        font-weight: 900;
        font-size: 24px;
        color: brown;
    }

    #infoCompany tr th img{
        width: 205px;
    }

    #infoClient tbody{
        border: solid;
        border-top: 1px;
        border-bottom: 1px;
        border-width: 7.5px;
        border-color:  #9FDBBF;
    }

    #infoClient tbody th{
        padding-left: 5px;
    }
}

@media only screen and (max-width: 960px) {
    #wraper{
        min-width: 400px;
        padding-left: 5px;
        padding-right: 0px;
    }
    table{
        position: absolute;
        top: 400px;
        bottom: 100px;
        width: 87.5%;
        min-width: 400px;
        border: none;
        border-collapse:collapse;
        margin: 0 auto;
        padding: 0%;
        font-size: 14px;
    }

    #infoBill {
        width: 200px;
        position: absolute;
        top: 15px;
        left: 25%;
        margin: 0px;
        padding: 0px;
    }

    #infoCompany{
        width: 250px;
        position: absolute;
        top: 70px;
        margin: 0px;
        padding: 0px;
        left: 25%;
    }

    #infoClient{
        width: 210px;
        position: absolute;
        top: 250px;
        left: 25%;
        margin: 0px;
        padding: 0px;
    }

    #infoClient{
        min-width: 200px;
    }

    #description{
        position: absolute;
        bottom: 100px;
        width: 87.5%;
        min-width: 370px;
        border: none;
        border-collapse:collapse;
        padding: 0%;
        font-size: 16px;
    }

    .negrita{
        font-weight: 900;
        font-size: 18px;
        color: brown;
    }

    #infoCompany tr th img{
        width: 40px;
    }
}