@import url('https://fonts.googleapis.com/css?family=Oldenburg');

html{
    background-color: beige;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Oldenburg', cursive;
}

p{
    color: black;
    width: 375px;
}

p::first-letter{
    font-size: 3em;
    color: darkred;
}

p::first-line{
    font-size: 1em;
    color: darkred;
}

div{
    padding-top: 50px;
    min-height: 400px;
}