#divBrown{
    background-color: brown;
    display: block;
    width: 40%;
    min-width: 405px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#divBrown pre{
    margin: 50px;
    margin-top: 75px;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: white;
    margin-left: 100px;
}

.divEsquinero {
    position: absolute;
    border: dashed;
    border-color: brown;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
}
#div1{
    top: 21.5%;
    left: 28.5%;
}

#div2{
    top: 21.5%;
    left: 67.5%;
}

#div3{
    top: 63.5%;
    left: 28.5%;
}

#div4{
    top: 64.5%;
    left: 67.5%;
}


