body{
    background-color: beige;
}

#divBrown{
    background-color: brown;
    display: block;
    width: 450px;
    min-width: 205px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#divBrown pre{
    margin: 50px;
    margin-top: 75px;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: white;
}

.divEsquinero {
    position: absolute;
    border: dashed;
    border-color: brown;
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
#div1{
    top: -30px;
    left: -30px;
}

#div2{
    top: -30px;
    right: -30px;
}

#div3{
    bottom: -30px;
    left: -30px;
}

#div4{
    bottom: -30px;
    right: -30px;
}

