@media
only screen and (min-width: 1050px) {
    body{
        margin: 0px;
        padding: 40px;
    }

    img{
        display: flex;
        width: 110px;
        height: 110px;
        padding: 10px;
        margin:auto;
    }

    .container {
        display: flex;
        height: 300px;
        margin-top: 70px;
        margin-left: 20px;
        margin-inline-end: 0px;
        margin-bottom: 100px;
    }
    
    .underDiv{
        flex-grow: 3;
        background-color: white;
        border-radius: 10px;
        margin-right: 20px;
        width: 30%;
        border:dashed;
        border-width: 1px;
        border-color: brown;
    }
    #center {
        background-color: silver;
        width: 80%;
        height: 450px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        border:dashed;
        border-width: 2px;
        border-color: brown;
      }

      a{
        display: block;
        text-decoration: none;
        font-size: 40px;
        text-align: center;
        color: brown;
    }
}

@media
only screen and (max-width: 1050px) {
    body{
        margin: 2.5px;
        padding: 2.5px;
        min-width: 480px;
    }

    img{
        display: flex;
        width: 100px;
        height: 100px;
        padding: 10px;
        margin:auto;
    }

    .container {
        display: block;
        width: 75%;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 30px;
        max-width: 400px;
    }
    
    .underDiv{
        background-color: white;
        border-radius: 10px;
        margin-right: 20px;
        margin: auto;
        width: 100%;
        min-width: 175px;
        margin-block-end: 0px;
        border:dashed;
        border-width: 1px;
        border-color: brown;
        margin-bottom: 10px;
    }
    #center {
        background-color: rgb(243, 243, 156);
        width: 97.5%;
        position: absolute;
        margin-top: 2%;
        margin-bottom: 2%;
        border-radius: 10px;
        border:dashed;
        border-width: 2px;
        border-color: brown;
    } 

    a{
        margin-top: 0px;
        display: block;
        text-decoration: none;
        font-size: 25px;
        text-align: center;
        color: brown;
        padding-bottom: 10px;
    }
}

h1, h2, p{
    text-align: center;
}

p{
    padding-bottom: 5px;
}


