body{
    background-color: beige;
}

div{
    width: 50%;
    padding: 25px;
    background: linear-gradient(to right, green 0%, green 50%, red 50%, red 100%);
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}