html{
    background-color: beige;
}

#gridWraper{
    display:grid;
    grid-template-columns:repeat(6, 2fr);
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);}

.box:hover{
    background-color: red;}

.fa-bomb{
    visibility: hidden;
    margin: 10px;}

.box{
    background-color: grey;
    margin-right: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;}

/*! Tamaño pequeño */
@media only screen and (max-width: 1024px) {
.fa-bomb{
    font-size: 40px;}
}

/** Tamaño mediano */
@media only screen and (min-width: 800px) {
    .fa-bomb{
        font-size: 80px;}
    .box{
        width: 125px;
        height: 125px;
    }
}

/** Tamaño grande */
@media only screen and (min-width: 1050px) {
    .fa-bomb{
        font-size: 100px;}
    .box{
        width: 175px;
        height: 175px;
    }
}

.box:hover > .fa-bomb { visibility: visible;}



