body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: white;
}

#idTop{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: blue;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 25px;
}

#idButtton{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: red;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 25px;
}

a{
    display: block;
    text-decoration: none;
    font-size: 100px;
    text-align: center;
    color: blue;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
