body{
    background-color: beige;
}

#wraperCenter{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#gridWraper{
    display:grid;
    grid-template-columns:repeat(2, 0fr);
}

.box{
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
}

.box1 i{
    margin: 10px;
    font-size: 80px;
}

.box2 i{
    margin: 10px;
    font-size: 80px;
    transform: rotate(90deg);
}

.box3 i{
    margin: 10px;
    font-size: 80px;
    transform: rotate(180deg);
}

.box4 i{
    margin: 10px;
    font-size: 80px;
    transform: rotate(270deg);
}

i{
    color: white;
}

.box1 { background-color: red; margin-right: 5px;}
.box2 { background-color: green; }
.box3 { background-color: blue; margin-right: 5px;}
.box4 { background-color: black; }