body{
    background-color: beige;
    margin-left: 2.5%;
}

#listBullet{
    list-style-type:square;
}

#listLetters{
    list-style-type: lower-alpha;
}
.fa-ul{
    margin-left: 1.2em;
    margin-bottom: 1.5em;
}

.fa-ul>li{
    margin-bottom: 0.2em;
}

.fas::before{
    padding-right: 0.5em;
}

h1 {
    font-size: 25px;
}